<ion-header>
  <ion-toolbar>
    <ion-searchbar animated></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-list-header>
        <ion-title>Favoritos</ion-title>
      </ion-list-header>
      <div class="home__feed-wrapper">
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let product of favorites | slice:0:4; let i = index" size="3">
              <div class="home__product__card" routerLink="/product-info/{{i}}">
                <div class="welcome-card">
                  <ion-img src={{product.url}} height="15px"></ion-img>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-list>
    <ion-list>
      <ion-list-header>
        <ion-title>Demais Produtos</ion-title>
      </ion-list-header>
      <div class="home__feed-wrapper">
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let product of products;let i=index" size="4">
              <div class="home__product__card"  routerLink="/product-info/{{i}}">
                <div class="welcome-card">
                  <ion-img src={{product.url}} height="15px"></ion-img>
                </div>
              </div>
            </ion-col>
          </ion-row>
          
        </ion-grid>
      </div>
    </ion-list>
</ion-content>
