<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button defaultHref="home"></ion-back-button> </ion-buttons>
    <ion-title>Tênis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div class="product-info__img-wrapper">
		<ion-img src="/assets/tenis.png"></ion-img>
		<div class="product-info__discount">
			<div class="product-info__discount__background">
				<h1>15%</h1>
				<h2> OFF </h2>
			</div>
		</div>
		<div class="product-info__store">
			<ion-img src="/assets/magalu.png"></ion-img>
		</div>
	</div>
	<div class="product-info__infos-wrapper">
		<h2 text-center> Tênis Nike Mega </h2>
		<p text-center> R$ 1000,00 </p>
		<p text-center> Cor: preta, Tamanho: ... </p>
		<a text-center href=""> Ver na loja </a>

	</div>
	<div class="product-info__qrcode-wrapper">
		<h2 text-center> Apresente o qrcode abaixo para obter desconto na loja </h2>
		<ion-img src="/assets/qrcode.png"></ion-img>
	</div>
</ion-content>
