<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button defaultHref="home"></ion-back-button> </ion-buttons>
    <ion-title>Tênis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div class="product-info__img-wrapper">
		<ion-img src="/assets/tenis.png"></ion-img>
	</div>
	<div class="product-info__infos-wrapper">
		<h2> Tênis Nike Mega </h2>
		<p> R$ 1000,00 (15% de desconto à vista)</p>
		<p> Cor: preta, Tamanho: ... </p>
		<a href=""> Ver na loja </a>

	</div>
	<div class="product-info__qrcode-wrapper">
		<h2> Apresente o qrcode abaixo para obter desconto na loja </h2>
		<ion-img src="/assets/qrcode.png"></ion-img>
	</div>
</ion-content>
